<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fangxia.fxbot.mapper.FXUserChannelMapper">

    <select id="selectByDiscordId" parameterType="Long" resultType="com.fangxia.fxbot.entity.FXUserChannelEntity">
        SELECT * FROM fx_user_channels
        WHERE user_id = (
            SELECT user_id
            FROM fx_users
            WHERE discord_id = #{discordId}
        )
    </select>

    <insert id="insert" parameterType="com.fangxia.fxbot.dto.FXUserChannelDTO">
        INSERT INTO fx_user_channels (user_id, display_name)
        SELECT user_id, #{channelDisplayName}
        FROM fx_users
        WHERE discord_id = #{discordId}
            AND user_id NOT IN(
                SELECT user_id FROM fx_user_channels
            )
    </insert>

    <update id="update" parameterType="com.fangxia.fxbot.dto.FXUserChannelDTO">
        UPDATE fx_user_channels
        SET display_name = #{channelDisplayName}
        WHERE user_id = (
            SELECT user_id
            FROM fx_users
            WHERE discord_id = #{discordId}
        )
    </update>

</mapper>
